<img tyle="float: right;"  src="http://minneanalytics.org/wp/wp-content/uploads/2018/04/BDT18_LP-02-02.jpg" \>

# It is all about Data

## Data Preparation, Exploration and Visualization using Open Data Science Tools

### Create a sample csv file using jupyter magic command

In [ ]:
%%writefile /notebooks/Workshops/data/myfirst.csv
credit_card_full,first_name,last_name,saving,ssn,checking,gender,age,zipcode,credit_card_number,credit_card_expire,job,date_of_birth,credit_card_provider,credit_card_security_code,address
"VISA 16 digit
Elizabeth Smith
4823815298403591 07/19
CVC: 575
",Norma,Fisher,71970468.39,778-26-8050,5486.1,f,39,54263,3554535211664072,07/26,Teaching laboratory technician,09/02/1978,Discover,988,"7345 Wagner Gateway Suite 629 Patrickside, IA 86414-6994"
"American Express
Barbara Myers
349009112890414 01/21
CID: 2631
",Michael,Hill,63499990.6,516-91-5342,6805.2,m,72,17886,341913789169069,06/23,Health and safety adviser,07/30/1945,American Express,8325,"595 Donna Wells Suite 706 New Megan, HI 12738-1160"
"JCB 15 digit
Nicholas Hutchinson
180044746042159 04/23
CVC: 578
",Jennifer,Carroll,33440169.23,349-42-6508,15.19,f,66,65070,6588196079463272,05/23,"Buyer, retail",06/12/1951,VISA 13 digit,850,"8250 Rogers Canyon East Stephanie, KY 39667"
"VISA 16 digit
Jennifer Morgan
4019235242015041 09/21
CVC: 409
",Douglas,Good,33340838.78,484-21-5871,88.15,m,37,39665,4934643789639606,02/23,"Accountant, chartered public finance",10/20/1980,VISA 16 digit,070,"0247 Anderson Mount Suite 382 North Erinmouth, WA 90776-7963"
"American Express
Natalie Simpson
373446262398807 11/19
CID: 2785
",Jerry,Burns,40590688.67,492-15-9886,9829.14,m,63,67984,370080200831166,08/25,Materials engineer,11/26/1954,American Express,9595,"3927 Michael Centers Suite 794 Davidbury, GA 92113"
"JCB 16 digit
Valerie Jenkins
3530410661533749 03/27
CVC: 646
",Peter,Mooney,67354380.15,033-42-4918,8633.71,m,42,79022,3566719798685710,10/21,Higher education careers adviser,10/19/1975,JCB 16 digit,747,"55847 Brenda Summit Suite 601 Jonathanton, TX 34806-1280"
"JCB 16 digit
Michael Johnson
3509808226910301 06/24
CVC: 811
",Andrew,Villa,7853853.7,618-03-9192,9622.72,m,95,24651,3519342996191510,11/21,"Engineer, chemical",07/03/1922,JCB 16 digit,898,"652 Lori Tunnel Suite 643 West Ashleeside, WA 07704"
"American Express
Raymond Saunders
342491464206604 05/21
CID: 7651
",Donna,Barnes,68820030.79,424-95-7965,2769.55,f,46,59714,180027291802556,06/25,Tax adviser,02/17/1972,Discover,1227,"00457 Robert Points South Mikeshire, AZ 47322"
"Maestro
Kevin Mcgee
501860480505 01/27
CVV: 676
",Rebecca,Torres,31824017.65,319-47-4151,4767.69,f,98,13352,38867272143148,06/18,"Journalist, newspaper",08/04/1919,Maestro,447,"91425 Burton Mountain Apt. 647 Carterbury, NC 63516"
"VISA 16 digit
Joseph Williams
4061769394318735 12/22
CVC: 300
",Jill,Clarke,49020206.7,860-95-9297,9340.58,f,34,46298,6011267382370905,02/22,Tree surgeon,06/27/1983,VISA 16 digit,708,"2195 Paul Ford Apt. 106 New Cheyennechester, MT 83465"
"JCB 15 digit
Kristen Garcia
180022767581610 10/25
CVC: 367
",Brad,Garcia,23178787.11,267-44-6047,5361.26,m,92,39841,213182562621853,01/25,Catering manager,08/17/1925,JCB 15 digit,350,"404 Calderon Bypass South Davidhaven, WA 45252"
"JCB 16 digit
Patrick Brown
3579347626335715 08/18
CVC: 600
",Kayla,Jones,70341885.82,433-32-8477,2591.6,f,30,26730,501894824314,09/20,Freight forwarder,04/05/1988,JCB 15 digit,973,"562 Cabrera Shores Apt. 569 Lake Aliciaborough, MI 26649"
"Mastercard
Jessica Johnson
2221021237424333 06/27
CVV: 597
",Noah,Parks,25247288.8,538-62-4575,1500.6,m,62,97153,5264744070657260,02/24,Tree surgeon,10/21/1955,Mastercard,253,"430 Misty Mission Eddieborough, TN 20817-6109"
"Mastercard
Sarah Fry
5398771549116114 06/23
CVV: 767
",Kylie,Rivera,14075874.4,291-78-6007,9874.0,f,86,41438,377955917787160,01/21,Maintenance engineer,04/06/1932,VISA 13 digit,539,Unit 9576 Box 3983 DPO AP 85936
"JCB 16 digit
Paul Rowe
3538048173045059 11/21
CVC: 011
",Robert,Perez,25055805.76,696-61-0907,301.1,m,56,76487,3598939972654306,10/23,Oncologist,11/07/1961,JCB 16 digit,114,"666 Jessica Forges Suite 299 South Julieview, MT 79199-6928"
"Discover
Lori Cooper
6504348598130707 04/27
CVC: 140
",Samantha,Williams,47648555.55,215-46-1594,3336.65,f,97,03552,676273800398,07/21,Furniture designer,05/31/1920,American Express,658,"9350 Li Fall Apt. 722 Lutzland, VI 05607-8064"
"Mastercard
Greg Mccall
5428694860221228 03/27
CVV: 481
",Cheryl,Hughes,15686055.54,818-62-2871,368.37,f,42,14208,3538908507167632,01/24,"Designer, fashion/clothing",08/08/1975,Maestro,493,"1660 Angela Trafficway North Brett, TX 82608-3940"
"American Express
Sandra Reeves
371345925936767 12/25
CID: 1915
",Kim,Jones,42104968.87,096-87-0488,7134.2,f,64,21133,4627316143078,05/21,Claims inspector/assessor,04/07/1954,Diners Club / Carte Blanche,755,"444 Ralph Port Apt. 589 Watsontown, NY 20379"
"VISA 13 digit
Heidi Holland
4691663708842 06/19
CVC: 452
",Joseph,Fuentes,93553804.51,615-16-0050,5954.7,m,84,02606,4958089188853,04/23,Forensic psychologist,09/02/1933,VISA 13 digit,627,"731 Bond Knolls Suite 835 New Rhonda, WY 38939-5998"
"Diners Club / Carte Blanche
Adrian Atkins
30474695830027 10/26
CVC: 324
",Jasmine,Mcclure,82299807.13,100-14-8118,1386.86,f,91,65758,4523372974839,11/27,Hospital doctor,10/22/1926,Discover,1745,"053 Gibson Manor Apt. 846 East Amber, DC 81003-9522"
"Discover
Logan Macdonald
6011995002317324 11/18
CVC: 301
",Thomas,Reynolds,68392173.9,556-67-5022,4866.31,m,74,58461,6517108801293840,06/24,Dispensing optician,04/23/1944,Discover,376,"984 Sean Hollow East Stephanieport, CO 35995"
"JCB 15 digit
Adam Sullivan
180044242265999 08/23
CVC: 025
",Ronald,Byrd,2391567.72,739-24-2485,4805.93,m,50,68334,180010887464130,02/25,"Surveyor, building",05/27/1968,JCB 15 digit,789,"97266 Gray Parkway Suite 251 Port Davidhaven, MN 34353"
"American Express
Debbie Mcneil
373615344684174 12/25
CID: 9345
",Misty,White,86194938.75,121-44-6742,2239.68,f,63,08286,503885842099,05/27,Legal executive,01/16/1955,JCB 15 digit,643,"PSC 7546, Box 6852 APO AA 98510"
"Diners Club / Carte Blanche
Suzanne Gill
38140233381854 10/21
CVC: 514
",Johnathan,Smith,43424914.66,893-48-3195,7291.2,m,30,55973,36339647055854,08/18,"Engineer, technical sales",11/04/1987,Diners Club / Carte Blanche,457,"77290 Hunt Dale Apt. 528 West Williamborough, SD 01650"
"VISA 16 digit
Kyle Mccarthy
4062179534454094 05/28
CVC: 124
",Whitney,Steele,76958922.8,195-82-9836,2768.66,f,49,45135,4286359078615744,05/25,Industrial/product designer,08/29/1968,Maestro,238,USNS Lynch FPO AP 29398

In [ ]:
!dir /notebooks/Workshops/data/myfirst.csv

## Import Python Data Analysis Library (pandas)  & numpy scientific computing with Python

### import numpy and pandas

In [ ]:
import numpy as np
import pandas as pd

### Set some pandas global options

In [ ]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)
pd.set_option('max_info_rows', 20)
pd.set_option('expand_frame_repr', True)
pd.set_option('mode.chained_assignment','warn')
pd.set_option('precision', 2)
pd.set_option('float_format', '{:6.2f}'.format)
pd.set_option('display.notebook_repr_html', True)

### Load a file inside a notebook cell using jupyter magic command

In [ ]:
# %load myfirst.csv

In [ ]:
%load_ext cython

In [ ]:
%%cython
def converter_string_replace_crlf(o):
    return o.replace('\n','')

In [ ]:
%%cython
def converter_string_to_upper(o):
    return o.upper()

### read a csv fils using pandas

In [ ]:
mydf = pd.read_csv('/notebooks/Workshops/data/myfirst.csv',infer_datetime_format=True,parse_dates=['date_of_birth'],
                   dtype={'ssn':np.str,'zipcode':np.str},
                   converters={\
                                'first_name':converter_string_to_upper,\
                                'last_name':converter_string_to_upper,\
                                'credit_card_full':converter_string_replace_crlf,\
                                'address':converter_string_replace_crlf\
                              })

In [ ]:
mydf = mydf[sorted(mydf.columns)]

In [ ]:
mydf.head(1)

In [ ]:
mydf.tail(1)

In [ ]:
mydf.info()

In [ ]:
mydf.credit_card_security_code

In [ ]:
list(mydf.columns)

In [ ]:
mydf.describe(percentiles=[0.10,0.2,0.3,0.8])

### Missing values

In [ ]:
mydf.head(10)

In [ ]:
mydf.fillna(value=0,inplace=True)

### Dice, Slice, Filter,...

In [ ]:
mydf[1:4][['checking','saving']]

In [ ]:
mydf[~(mydf.checking > 100)]

In [ ]:
mydf[((mydf.checking >= 4) & (mydf.age > 50))]['checking'].sum()

In [ ]:
mydf.head()

In [ ]:
grouped = mydf.groupby(['job'])[['checking','saving']]

In [ ]:
grouped.agg([np.max,np.min,np.mean,np.sum,np.std,np.ceil])

## Create a new column inside the Dataframe

In [ ]:
mydf['total_cache'] = mydf.checking * mydf.saving

## Reorder columns (alpha sort)

In [ ]:
mydf[sorted(mydf.columns)].head()

In [ ]:
mydf['first_name_cap'] = mydf.first_name.str.lower().str.capitalize()
mydf['last_name_cap'] = mydf.last_name.str.lower().str.capitalize()

In [ ]:
mydf.head(8)